.login-form {
  max-width: 600px;
  min-width: 350px;
  width: 50vw;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em;
  border-radius: 4px;
}
